.Coach
{
    width: 100%;
    min-height: 100%;
    background: linear-gradient(90deg, #1c1c1c 50%, #e6e6e6 50%);
    padding: 20vh 0;

    .card
    {
        margin: auto;
        width: 80vw;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: #FFF;

        .div
        {
            width: 33%;
            text-align: center;
        }
        img
        {
            margin: auto;
            border-radius: 50%;
            margin-top: 5vh;
            width: 150px;
            height: 150px;
        }
        p
        {
            color: black;
            margin: 5vh auto;
            width: 80%;
            line-height: 1em;
        }
    @media (max-width:850px)
    {

        .div
        {
            width: 50%;
        }
        p
        {
            width: 80%;
        }
    }

    @media (max-width:600px)
    {
        flex-direction: column;   
        .div
        {
            width: 100%;
        }
        p
        {
            width: 80%;
        }

    }
}
}

.CoachHome
{
    width: 100%;
    padding: 5vh 10vw;

    .coachs
    {
        display: flex;
        justify-content: center;
        div
        {
            width: 50%;
            display: flex;
            align-items: center;
            margin-top: 5vh;
            img
            {
                width: 150px;
                height: 150px;
                border-radius: 50%;
            } 
        }
    }
    p
    {
        position: absolute;
        right: 5vw;
    }
}

.planningHome
{
    padding: 5%;
    .content
    {
        display: flex;
        justify-content: space-evenly;
        div
        {
            width: 40%;
            box-shadow: 5px 2px 2px rgb(104, 102, 102);
        }
    }
    .plus
    {
        position: absolute;
        right: 5vw;
    }

    &::before
    {
        content: "";
        position: absolute;
        height: 1px;
        width: 90%;
        background-color: #535353;
        display: inline-block;
    }
}