.contenu
{
    // font-size: 20px;
    // text-align: justify;
    
    color: #333;
    background: #F1F1F1;
    transition: all 0.2 ease-in-out;
}

.contenu.dark
{
    color: #F1F1F1;
    background: #333;
    .Abonnement
    {
        .cardsContainer
        {
            .card
            {
                color: #F1F1F1;
                background: #333;
            }
        }
    }
}

.contenu.light
{
    color: #333;
    background: #F1F1F1;
}