.footer 
{
    background-color: black;
    padding: 2%;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;



        .info
        {
            text-align: left;
            grid-column-start: 2;
            margin-top: 10vh;
        }

        .form
        {
            display: flex;
            flex-direction: column;
            width: 100%;

            input, textarea
            {
                background-color: black;
                height: 5vh;
                padding: 0 10px;
                color: white;
                border: solid 2px white;
                border-radius: 5px;
                margin: 8px 0;
            }
            textarea
            {
                height: 200px;
            }
            button
            {
                background: #1d9cbf;
                color: white;
                width: 60%;
                height: 15%;
                border: none;
                margin: auto;
                margin-top: 2vh;
            }
            button:hover 
            {
                background-color: #15677d;
                color: white;
            }
        }
    @media (max-width:1100px)
    {
        grid-template-columns: 0.5fr 1fr 0.2fr 1fr 0.5fr;
        .form
        {
            grid-column-start: 4;
        }
    }

    @media (max-width:900px)
    {
        grid-template-columns: 0.3fr 1fr 0.2fr 1fr 0.3fr;
    }
    @media (max-width:600px)
    {
        grid-template-columns: 1fr 3fr 1fr;
        row-gap: 30px;
        .info
        {
            grid-row: 1;
            grid-column: 2;
        }
        .form
        {
            grid-row: 2;
            grid-column: 2;
        }
    }
}

