.Home
{
    background-image: url(../images/moises-alex-WqI-PbYugn4-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    

    .btndiv
    {
        display: flex;
        column-gap: 20px;

        position: absolute;
        bottom: 20vh;
        .button
        {
            background: rgba(0, 0, 0, 0.6);
            color: white;
            width: 16vw;
            height: 7vh;
            border: none;
            @media (max-width:1040px)
            {
                width: 20vw;
            }
            @media (max-width:850px)
            {
                width: 25vw;
            }
            @media (max-width:700px)
            {
                width: 30vw;
            }
        }
        @media (max-width:550px)
        {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            .button
             {
                 width: 40vw;
                @media (max-width:470px)
                {
                    width: 50vw;
                }
                @media (max-width:400px)
                {
                    width: 60vw;
                }
            }
        }
            .button:hover 
            {
                background-color: black;
                color: white;
        }
    }
}